/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

.main{
	width: 100%;
	background: linear-gradient(rgba(41,33,33,0.8)60%, rgba(41,33,33,0.7)45%),url("Windshield-replacement.jpg");
	background-position: center;
	background-size: cover;
	height: 15vh;
}
.navbar{
	width: 1200px;
	height: 60px;
	margin: auto;
}

.icon{
	width: 200px;
	float: left;
	height: 70px;
}
.icon{
	padding-right: 45px;
	float: left;
	padding-top: 10px;
}
.menu{
	width: 400px;
	float: left;
	height: 70px;
}
ul{
	float: left;
	display: flex;
	justify-content: center;
	align-content: center;
}
ul li{
	list-style: none;
	margin-left: 50px;
	margin-top: 27px;
	font-size: 13px;
}
ul li a{
	text-decoration: none;
	color: #afb2b2;
	font-family: Gotham;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}
ul li a:hover{
	color: #1698d5;
}
.bodymain{
    text-decoration: none;
    font-family: futura;
    padding-left: 210px;
    font-display: auto;
    font-size: 40px;
    margin-top: 25px;
    color: #1698d5;
}
h1{
	width: 1000px;
	
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-decoration: none;
	font-style: normal;
}
.windsreencheck01{
    padding-top: 170px;
    padding-left: 251px;	
}
p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-decoration: none;
	font-style: normal;	
}
.button:hover{
	background-color: black;
	font-family: Gotham;
	font-weight: bold;
	
	
}
.button{
	text-decoration: none;
	color: white;
	font-size: 2px;
	font-family: Gotham;
	font-weight: normal;
	background-color: #1698d5;
	width: 160px;
	height: 45px;
	border-radius: 8px;
	border: none;
	outline: none;
	padding: 12px;
	transition: 0.4s ease-in-out;
	cursor: pointer;
}
.button a{
	text-decoration: none;
	font-size: 17px;
	color: white;
}
dl{
	transform: translate(31em);
	float: left;
	padding-top: 6em;
	
}
dl dt{
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	margin-top: 28px;
}
@media (max-width: 1000px){
	.main{
		width: 100%;
		
	}
}
@media (max-width: 600px){
	.main{
		width: 100%;
		
	}
}
